---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>

<body>
	{% include header.html %}
	<main class="content-home">
		<section class="intro">
			<div class="container">
				<h2>Bio</h2>
				<div class="bio-container">
					<div class="bio-left"><img src="/assets/images/caio.png" alt="Caio MGA profile picture"></div>
					<div class="bio-right">
						<p>{{ site.about }}</p>
						<div class="social-media-container">
							{% for smb in site.social-media %}
							<a href="{{ smb.url }}" target="_blank"><img class="social-media-button" src="/assets/images/follow/{{ smb.name }}.png"></a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<a href="/assets/docs/CaioMGA-en.pdf" target="_blank"><p>Resumé (English)</p></a>
			<a href="/assets/docs/CaioMGA-ptbr.pdf" target="_blank"><p>Currículo (Português)</p></a>
		</section>
		{% include skills.html %}
		<section class="projects">
			<div class="container">
				<h2>Projetos</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
					<li>
						<a class="nounderline" href="{{ item.url | prepend: site.baseurl }}">
							<div class="img-wrapper">
								<img src="{{ item.project.logo | prepend: site.baseurl }}"
									alt="{{ item.project.title }}" />
							</div>
							<span class="h2">{{ item.project.type }}</span>
							<h3>{{ item.project.title }}</h3>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>

</html>