.featured-carousel {
    display: flex;
    flex: 1 1 0;
    flex-flow: row;
}

.featured{
    height: 400px;
    background-position-y: center;
}

.featured-1{
    background-image: url(src/img/game1.png);
}

.featured-2{
    background-image: url(src/img/game2.png);
}

.featured-3{
    background-image: url(src/img/game3.png);
}

.featured-4{
    background-image: url(src/img/game4.png);
}

.video-clip {
    width: 60%;
}

#open-content {
    animation-name: featured-inner-content-show;
    animation-duration: 1s;
}

#close-content {
    display: none;
    visibility: hidden
}

#featured-closed{
    display: flex;
    flex: 1 1 0;
    animation-name: close;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    filter: grayscale(100%) blur(2px);
}

#featured-open{
    display: flex;
    flex: 17 1 0;
    animation-name: open;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes open {
    from {flex: 1 1 0;}
    to {flex: 17 1 0;}
}

@keyframes close {
    from {flex: 17 1 0;}
    to {flex: 1 1 0;}
}

@keyframes featured-inner-content-show {
    0% {visibility: hidden; display: none;color: transparent;}
    60% {visibility:visible ;  display: block; color: transparent;}
    100% {color: unset;}
}