<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contato</h2>
			<p><a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
			<p style="padding-top:2em"><a class="nounderline" title="{{ site.author }} - Game DEV" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</br>Game DEV</a></p>
		</section>
		<section class="follow">
			<h2>Redes Sociais</h2>
			<ul>
				{% for social-media in site.social-media %}
				<li><a title="LinkedIn" href="{{ social-media.url }}" target="_blank">{{ social-media.name }}</a></li>
				{% endfor %}
			</ul>
		</section>
	</div>
</footer>