<section id="skills" class="skills bg-primary">
  <div class="container">
    <div class="row text-center">

</div>
      <div class="skills-container">
        <h2>Skills</h2>
        <hr class="small">
        <h1></h1>
        <div class="row">
          {% for skill in site.skills-programming %}
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <p>{{ skill.name }}: {{ skill.percent }}</p>
              <progress max=10 value="{{ skill.percent }}">
              </progress>
            </div>
          </div>
          {% endfor %}
        </div>

        <h1></h1>
        <div class="row">
          {% for skill in site.skills-other %}
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <p>{{ skill.name }}: {{ skill.percent }}</p>
              <progress max=10 value="{{ skill.percent }}">
              </progress>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>